.EditPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.accessModelEdit {
  input {
    width: 140px;
  }
}

.combobox {
  [role='presentation'] {
    z-index: 1000 !important;
  }
}
