.Search {
  input {
    width: 80%;
    height: 36px;
  }
  /* In your global CSS/SCSS file */
  div[class*='Input-module_Backdrop'] {
    border-top-color: var(--border-subdued);
    border-radius: 8px;
  }
}

.Tag {
  > span > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
  }
}
