.List {
  > * {
    min-height: 340px;
    max-height: 340px;
    @media screen and (max-width: 1120px) {
      min-height: 340px;
      max-height: 340px;
    }
  }
}
.UseCaseList {
  > * {
    min-height: 520px;
    max-height: 520px;
    @media screen and (max-width: 1120px) {
      min-height: 600px;
      max-height: 600px;
    }
  }
}
