.List {
  > * {
    min-height: 320px;
    max-height: fit-content;
    @media screen and (max-width: 1280px) {
      min-height: 380px;
      max-height: fit-content;
    }
    @media screen and (max-width: 1100px) {
      min-height: 400px;
      max-height: fit-content;
    }
  }
}
.UseCaseList {
  > * {
    min-height: 500px;
    max-height: fit-content;
    @media screen and (max-width: 1120px) {
      min-height: 520px;
      max-height: fit-content;
    }
  }
}
