.Search {
  input {
    width: 100%;
    height: 36px;
  }
  > div {
    width: 100%;
  }
  /* In your global CSS/SCSS file */
  div[class*='Input-module_Backdrop'] {
    border-top-color: var(--border-subdued);
    border-radius: 8px;
  }
}

.Card {
  > a > img {
    @media screen and (max-width: 1400px) {
      width: 80%;
      height: 60%;
    }
  }
}