.Item {
  transition:
    background-color var(--duration-200) var(--ease-in-out),
    gap var(--duration-200) var(--ease-in-out);

  &:hover {
    background-color: var(--surface-subdued);
  }
}

.Selected {
  background-color: var(--surface-selected);

  svg {
    color: var(--blue-primary-color);
  }
}

.Collapse {
  transition: width var(--duration-300) var(--ease-in-out);
}
