name: Build Status

on:
  push:
    branches: ['dev']
  pull_request:
    branches: ['dev']
env:
  KEYCLOAK_CLIENT_ID: ${{secrets.KEYCLOAK_CLIENT_ID}}
  KEYCLOAK_CLIENT_SECRET: ${{secrets.KEYCLOAK_CLIENT_SECRET}}
  AUTH_ISSUER: ${{secrets.AUTH_ISSUER}}
  NEXTAUTH_URL: ${{secrets.NEXTAUTH_URL}}
  NEXTAUTH_SECRET: ${{secrets.NEXTAUTH_SECRET}}
  END_SESSION_URL: ${{secrets.END_SESSION_URL}}
  REFRESH_TOKEN_URL: ${{secrets.REFRESH_TOKEN_URL}}
  NEXT_PUBLIC_BACKEND_URL: ${{secrets.NEXT_PUBLIC_BACKEND_URL}}
  BACKEND_GRAPHQL_URL: ${{secrets.BACKEND_GRAPHQL_URL}}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci --force
      - run: npm run generate
      - run: npm run build --if-present
