name: Build Status

on:
  push:
    branches: ['dev']
  pull_request:
    branches: ['dev']
env:
  KEYCLOAK_CLIENT_ID: 'dataspace'
  KEYCLOAK_CLIENT_SECRET: 'Q2iHhyXNOqOu7Xaln7Z45QrDnbff13eu'
  AUTH_ISSUER: 'https://opub-kc.civicdatalab.in/auth/realms/DataSpace'
  NEXTAUTH_URL: 'https://dev.civicdataspace.in'
  NEXT_PUBLIC_NEXTAUTH_URL: 'https://dev.civicdataspace.in'
  NEXTAUTH_SECRET: ${{secrets.NEXTAUTH_SECRET}}
  END_SESSION_URL: 'https://opub-kc.civicdatalab.in/auth/realms/DataSpace/protocol/openid-connect/logout'
  REFRESH_TOKEN_URL: 'https://opub-kc.civicdatalab.in/auth/realms/DataSpace/protocol/openid-connect/token'
  NEXT_PUBLIC_BACKEND_URL: 'https://dev.api.civicdataspace.in'
  BACKEND_GRAPHQL_URL: 'https://dev.api.civicdataspace.in/api/graphql'
  NEXT_PUBLIC_ENABLE_ACCESSMODEL: ${{secrets.NEXT_PUBLIC_ENABLE_ACCESSMODEL_DS}}
  NEXT_PUBLIC_BACKEND_GRAPHQL_URL: 'https://dev.api.civicdataspace.in/api/graphql'
  BACKEND_URL: 'https://dev.api.civicdataspace.in'
  NEXT_PUBLIC_PLATFORM_URL: 'https://dev.civicdataspace.in'
  NEXT_PUBLIC_ANALYTICS_URL: ${{secrets.NEXT_PUBLIC_ANALYTICS_URL}}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    env:
      BACKEND_GRAPHQL_URL: ${{secrets.BACKEND_GRAPHQL_URL_DS}}

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci --force
      - run: npm run generate
      - run: npm run build --if-present
